@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Carter+One&display=swap");

.main-hero {
  width: auto;
  height: 100vh;
  margin: 0px;
  background-color: #d6edff;
  display: flex;
  flex-direction: row;
}

.left-section {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 120px;
  margin-left: 70px;
}

.line-bar {
  width: 15px;
  height: 90%;
  background-color: #3f334d;
  /* margin-top: 100px;
  margin-left: 70px; */
  border-radius: 10px;
}

.side-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 30px 50px;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.main-details {
  /* margin-top: 80px; */
  display: flex;
  flex-direction: column;
}

.main-details > h1 {
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 60px !important;
  margin-bottom: 0;
  font-family: "Cantarell", sans-serif;
  /* color: #00518f; */
}

.main-details > p {
  font-weight: 50;
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Cantarell", sans-serif;
}

.contact-links {
  margin-top: 30px;
  /* margin-left: 300px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-links > a {
  margin: 0 30px;
  font-size: 60px;
  list-style: none;
  color: #3f334d;
}

.right-section {
  width: 50%;
  height: auto;
  background-color: white;
}

.right-section > img {
  width: 100%;
  height: auto;
  margin: 0;
}

/* Mobile Responsive */

@media (max-width: 480px) {
  .right-section {
    display: none;
  }

  .main-hero {
    width: auto;
    height: auto;
    margin: 0px;
    /* background-color: #e9ebed; */
    display: flex;
    flex-direction: row;
  }

  .left-section {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 150px;
    margin-left: 20px;
    margin-bottom: 50px;
  }

  .line-bar {
    width: 9px;
    height: 90%;
    background-color: #3f334d;
    /* margin-top: 100px;
  margin-left: 70px; */
    border-radius: 10px;
  }

  .side-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 20px 30px;
  }

  .main-details > h1 {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 40px !important;
    margin-bottom: 0;
    font-family: "Cantarell", sans-serif;
  }

  .main-details > p {
    font-weight: 50;
    font-size: 15px;
    letter-spacing: 0;
    font-family: "Cantarell", sans-serif;
  }

  .contact-links > a {
    margin: 0 15px;
    font-size: 40px;
    list-style: none;
    color: #3f334d;
    margin-bottom: 20px;
  }
}
