.service-details {
  width: auto;
  height: auto;
  /* background-color: #e9ebed; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.service-details > h1 {
  margin: 0 20px;
}

.more-details {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.details-card {
  width: 25%;
}

.details-card > p {
  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
}

.details-card > img {
  margin-top: 10px;
  width: 70%;
  height: 40%;
  border-radius: 50%;
}

.details-card > h2 {
  font-size: 16px;
}

@media (max-width: 480px) {
  .service-details {
    height: auto;
    width: auto;
    margin: 0 20px;
    overflow: hidden;
  }

  .service-details > h1 {
    margin: 0 20px;
    font-size: 25px;
  }

  .more-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    height: auto;
    width: auto;
  }

  .details-card {
    margin-top: 10px;
    width: auto;
    margin-bottom: 20px;
  }
  /* 
  .details-card > img {
    margin-top: 3px;
    width: 60%;
    height: 50%;
    border-radius: 50%;
  } */
}
