.skill-container {
  margin: 0;
  /* background-color: tomato; */
  width: auto;
  height: auto;
  /* margin: 0 0px; */
  /* justify-content: center;
  margin-top: 0;*/
}

.skill-container > h2 {
  margin-left: 40px;
}

.skill-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill-banner {
  margin: 0;
  width: 50%;
  height: auto;
}
.skill-banner > img {
  width: 100%;
  height: 90%;
  margin: 0;
}

.stack-imgs {
  margin-top: 90px;
  width: 40%;
  height: auto;
  /* background-color: #d6edff; */
  height: fit-content;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
}

.stack-imgs > img {
  width: 100px;
  height: 50%;
  margin: 30px 20px;
}

@media (max-width: 600px) {
  .skill-container {
    width: auto;
    height: auto;

    /* justify-content: center; */
  }

  .skill-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    margin-left: 40px;
  }

  .skill-banner {
    display: none;
  }

  .stack-imgs {
    margin-top: 0;
    width: 100%;
    height: 100%;

    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .stack-imgs > img {
    width: 60px;
    height: 50%;
    margin: 5px 20px;
  }
}
